input:invalid+span.help-inline,
td:hover > a.playlist-resource + a.remove{
	visibility: visible;
}
input:valid+span.help-inline,
td > a.playlist-resource + a.remove{
    visibility: hidden;
}
#openID{
	padding-left: 30px;
	background-image: url('/assets/images/openid-icon-100x100.png');
	background-repeat: no-repeat;
	background-size: 28px;
}
#openIDForm label{
	display: inline-block;
	padding-right: 10px;
}