@(openIDForm: Form[models.beans.dataBinding.form.OpenIDUser])
@import play.i18n._

@main() {
    <h2>@Messages.get("authentication.title")</h2>
    @helper.form(action = routes.Authentication.openID(), 'id -> "openIDForm") {
    	@helper.inputText(openIDForm("openid_identifier"), 'id -> "openID", 'autofocus -> "autofocus", '_label -> "OpenID", '_showConstraints -> false)
    	<input type="submit" value='@Messages.get("authentication.submit.button")'/>
    }<br/>
	<div id="signinButton">
		<span class="g-signin"
		    data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"
		    data-clientid="458134068157.apps.googleusercontent.com"
		    data-redirecturi="postmessage"
		    data-accesstype="offline"
		    data-cookiepolicy="single_host_origin"
		    data-callback="signInCallback"
		    data-width="wide">
		</span>
	</div>
	<div id="result"></div>
	<script type="text/javascript">
	    $('#openIDForm>dl>dt').append('<a href="http://openidexplained.com" target="_blank">@Messages.get("authentication.what.is.openid")</a>');
    </script>
}
