@(authProvider: String, resources: List[models.beans.ServiceResources])
@import play.i18n._, controllers.enums._

@main("User Home Page") {
	<section>
	  <div class="navbar navbar-inverse">
	    <div class="navbar-inner">
	      <div class="container" style="width: auto;">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" href="@routes.User.index()">The Cloud Media Player</a>
	        <div class="nav-collapse">
	          <ul class="nav pull-right">
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages.get("connectTo") <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                @for(provider <- OAUTH_SERVICE_PROVIDERS.values) {
	                   <li><a href="@routes.Authentication.connectTo(provider.toString)">@provider.getBestCase</a></li>
	                }
	              </ul>
	            </li>
	            <li class="divider-vertical"></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ctx.session.get(SESSION.FULL_NAME.getId) <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                @{val email = ctx.session.get(SESSION.EMAIL.getId); if(email != null && !email.isEmpty()) {
		                <li>@email</li>
		            }}
	                <li class="divider"></li>
	                <li>@if("google".equals(authProvider)) {
    					<a class="btn btn-primary" href="#" id="googleSignOut">@Messages.get("authentication.signOut")</a>
    					} else {
    					<a class="btn btn-primary" href="@routes.Authentication.signOut()" id="signOut">@Messages.get("authentication.signOut")</a>
    				}</li>
	              </ul>
	            </li>
	          </ul>
	        </div><!-- /.nav-collapse -->
	      </div>
	    </div><!-- /navbar-inner -->
	  </div>
	</section>
    <span id="playing" class="badge badge-info"></span>
    <div class="row-fluid">
	    <div class="span4">
            <h3>Resources</h3>
            <div id="resources-list" class="well" style="padding: 8px 0;">
                <ul class="nav nav-list">
			    @if(resources != null) {
			        @for(listResources <- resources) {
			              <li class="nav-header">@listResources.getServiceName</li>
			                @for(resource <- listResources.getResources){
			                    <li><a href="#">@resource.getName</a></li>
			                }
			        }
			    }
                </ul>
            </div>
	    </div>
        <div class="span8">
            <h3>Play list</h3>
            <table id="playlist-table" class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                      <th>Name</th>
                    </tr>
                  </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
}