@(authProvider: String, entries: List[com.dropbox.client2.DropboxAPI.Entry])
@import play.i18n._
@import controllers.enums._

@main("User Home Page") {
	<section>
	  <div class="navbar navbar-inverse">
	    <div class="navbar-inner">
	      <div class="container" style="width: auto;">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" href="@routes.User.index()">The Cloud Media Player</a>
	        <div class="nav-collapse">
	          <ul class="nav pull-right">
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages.get("connectTo") <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="@routes.Authentication.connectTo("dropbox")">Dropbox</a></li>
	                <li><a href="@routes.Authentication.connectTo("cloudpt")">Cloudpt</a></li>
	                <li class="divider"></li>
	                <li><a href="@routes.Authentication.connectTo("soundcloud")">SoundCloud</a></li>
	                <li><a href="@routes.Authentication.connectTo("youtube")">Youtube</a></li>
	              </ul>
	            </li>
	            <li class="divider-vertical"></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ctx().session().get(SESSION.FULL_NAME.getId()) <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                @if(email != null && !email.isEmpty()) {
	                	<li>@email</li>
	                }
	                <li class="divider"></li>
	                <li>@if("google".equals(authProvider)) {
    					<a class="btn btn-primary" href="#" id="googleSignOut">@Messages.get("authentication.signOut")</a>
    					} else {
    					<a class="btn btn-primary" href="@routes.Authentication.signOut()" id="signOut">@Messages.get("authentication.signOut")</a>
    				}</li>
	              </ul>
	            </li>
	          </ul>
	        </div><!-- /.nav-collapse -->
	      </div>
	    </div><!-- /navbar-inner -->
	  </div>
	</section>
    <p>@Messages.get("user.welcome", fullname)</p>
    <div class="span4">
    @if(entries != null) {
      <h3 id="list">Files</h3>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Dropbox Files</li>
            @for(entry <- entries){
                <li><a href="#">@entry.path</a></li>
            }
        </ul>
      </div>
    }
    </div>
}