@(resources: List[models.beans.dataObject.ServiceResources])
@import play.i18n._, controllers.enums._, tags._

@dispayListItem(value: String) = {
    <li>@value</li>
}

@main("User Home Page") {
	<section>
	  <div class="navbar navbar-inverse">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" href="@routes.User.index()">The Cloud Media Player</a>
	        <div class="nav-collapse">
	          <ul class="nav pull-right">
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages.get("user.connectTo") <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                @for(provider <- OAUTH_SERVICE_PROVIDERS.values) {
	                   <li><a href="@routes.Authentication.connectTo(provider.toString)">@provider.getBestCase 
	                       @if("authenticated".equals(ctx.session.get(provider.toString))) {<span class="badge badge-info">@Messages.get("user.connected")</span>}
	                   </a></li>
	                }
	              </ul>
	            </li>
	            <li class="divider-vertical"></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ctx.session.get(SESSION.FULL_NAME.toString) <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                @{val email = ctx.session.get(SESSION.EMAIL.toString); if(email != null && !email.isEmpty()) dispayListItem(email)}
	                <li class="divider"></li>
	                <li>@if("google".equals(ctx.session.get(SESSION.PROVIDER.toString))) {
    					<a class="btn btn-danger" href="#" id="googleSignOut">@Messages.get("authentication.signOut")</a>
    					} else {
    					<a class="btn btn-danger" href="@routes.Authentication.signOut()" id="signOut">@Messages.get("authentication.signOut")</a>
    				}</li>
	              </ul>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
    <div class="row-fluid">
	    <div class="span4">
	    @userResources(resources)
	    </div>
        <div class="span8">
        @userPlaylist()
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
        @userPlaying()
        </div>
    </div>
}