@(openIDForm: Form[models.form.OpenIDUser])

@main() {
	@***********************************************************
	* passar esta parte da autenticação para o main.scala.html,
	* para que apareça esta informação em todas as páginas,
	* sem necessidade de código repetido
	************************************************************@
    <h2>Autenticação</h2>
    @helper.form(action = routes.Authentication.openID(), 'id -> "openIDForm") {
    	@helper.inputText(openIDForm("id"), 'id -> "openID", 'autofocus -> "autofocus", '_label -> "OpenID", '_showConstraints -> false)
    	<input type="submit" name="Sign in"/>
    }<br/>
	<div id="signinButton">
		<span class="g-signin"
		    data-scope="https://www.googleapis.com/auth/plus.me"
		    data-clientid="458134068157.apps.googleusercontent.com"
		    data-redirecturi="postmessage"
		    data-accesstype="offline"
		    data-cookiepolicy="single_host_origin"
		    data-callback="signInCallback"
		    data-width="wide">
		</span>
	</div>
	<div id="result"></div>
}
