@(title: String = "The Cloud Media Player")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/superhero/bootstrap.min.css">
        <link rel="stylesheet" href="//d2c5utp5fpfikz.cloudfront.net/2_3_1/css/bootstrap-responsive.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
    <body>
    	<div class="container-fluid">
    		<section id="alerts">
			@if(!flash.isEmpty()) {
				@for((key, value) <- flash) {
				<script type="text/javascript">$(appendAlert("@key", "@value"));</script>
			    }
			}
			</section>
			<div class="row-fluid">
		    @content
		    </div>
    	</div>
    @***** FACEBOOK SIGNIN
    	<div id="fb-root"></div>
		<script src="@routes.Assets.at("javascripts/fb-functions.js")"></script>
	************************@
	<script src="@routes.Assets.at("javascripts/google-functions.js")"></script>
    </body>
</html>
