@(title: String = "The Cloud Media Player")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
		<meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/blitzer/jquery-ui.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
    </head>
    <body>
	@if(!flash.isEmpty()) {
		@for((key, value) <- flash) { 
	        <div class="alert-@key">@value</div>
	    }
	}
    @content
    @***** FACEBOOK SIGNIN
    	<div id="fb-root"></div>
		<script src="@routes.Assets.at("javascripts/fb-functions.js")"></script>
	************************@
	<script src="@routes.Assets.at("javascripts/google-functions.js")"></script>
    </body>
</html>
